<div class="container-fluid blue-section">
    <div class="container">
        <section>
            <h1 class="section-title">Panel administracyjny</h1>
            <hr />
            <div class="row">
                <div id="adminMenu">
                    <div class="col-sm-3 admin-tab "><p class="active-tab">Firmy</p></div>
                    <a href="@Url.Action("Categories", "Admin")">
                        <div class="col-sm-3 admin-tab"><p>Kategorie</p></div>
                    </a>
                    <div class="col-sm-3 admin-tab"><p>Użytkownicy</p></div>
                    <div class="col-sm-3 admin-tab"><p>Role</p></div>
                    <div class="cl"></div>
                </div>
            </div>
        </section>
    </div>
</div>
