@using PortalSlubny.Models
@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj się";
}

<div class="container-fluid white-section">
    <div class="container">
        <h2 class="section-title">@ViewBag.Title</h2>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                @Html.Partial("_LoginFormPartial")
            </div>
            @*<div class="col-md-4">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>*@
        </div>
    </div>
</div>